body {
    background-color: #333;
    color: #fff;

    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

h1,
h2,
h3 {
    font-size: 1em;
    font-weight: 300;
}

.door1,
.door2 {
    background-image: url(./img/dc.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 250px;
}

.door3 {
    background-image: url(./img/do.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 250px;
}

.flex {
    display: flex;
    flex-direction: column;
    border: solid rgb(21, 0, 255);
}

.flex-for-doors {
    display: flex;

    border: solid rgb(0, 255, 26);


    justify-content: space-between;
}

.border-w {
    border: solid #fff;
}



.pos-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid red;
    /* margin: 0 500px; */

    transition: 1s;
    text-align: center;
}

.m {
    display: flex;
}

.btn50p button {
    width: 50%;
}

.flex-button {
    display: flex;
}

button {
    margin: 5px;

}

input {
    margin: 0 5px;
    text-align: center;
}

button,
input {
    font-size: 1em;

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.footer-block {
    display: flex;
    justify-content: center;

    /* position: absolute; */
    /* margin-bottom: 0; */
}

.footer-block a {
    text-decoration: none;
    color: #fff;
}

.footer-block img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.footer-block_github {
    display: flex;
    align-items: center;
}

/* анимация кнопок */

.hide {
    opacity: 0;
    transition: opacity .5s ease;
}

.show {
    opacity: 1;
    transition: opacity .3s ease;
}

/* конец */

/* полная версия */
.m-top {
    margin-top: 50px;
}

.whith-50-p {
    width: 50%;
}

/* конец */