body {
    background-color: #333;
    color: #fff;

    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

    position: relative;
}

html {
    overflow: hidden
}

h2,
h3 {
    font-size: 1em;
    font-weight: 300;
}

.content-block-relative {
    position: relative;
}

.question {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    opacity: .8;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border-radius: 50px;

    font-size: 1.2em;
    font-weight: 300;
    background-color: #fff;
    color: #000;

    position: absolute;
    top: 0;
    right: 0;
}

.question:hover {
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

.door1,
.door2 {
    background-image: url(./img/dc.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.door3 {
    background-image: url(./img/do.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.flex-for-doors img {
    width: 155px;
    height: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    /* border: solid rgb(21, 0, 255); */
}

.flex-for-doors {
    display: flex;

    /* border: solid rgb(0, 255, 26); */


    justify-content: space-between;
}

.border-w {
    /* border: solid #fff; */
}

.pos-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: solid red; */

    transition: 1s;
    text-align: center;
}

.margin-0-500 {
    margin: 0 500px;
}

.display-none {
    display: none;
}

.m {
    display: flex;
}

.btn50p button {
    width: 50%;
}

.flex-button {
    display: flex;
}

button {
    margin: 5px;
    /* height: 50px; */
}

input {
    margin: 0 5px;
    text-align: center;
}

button,
input {
    font-size: 1em;

    font-family: 'Roboto', sans-serif;
    font-weight: 200;

    border-radius: 10px;

    height: 50px;
}

.footer-block {
    display: flex;
    justify-content: center;
}

.footer-block a {
    text-decoration: none;
    color: #fff;
}

.footer-block img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.footer-block_github {
    display: flex;
    align-items: center;
}

/* анимация кнопок */

.hide {
    opacity: 0;
    transition: opacity .5s ease;
}

.show {
    opacity: 1;
    transition: opacity .3s ease;
}

/* конец */

/* полная версия */
.m-top {
    margin-top: 50px;
}

.whith-50-p {
    width: 50%;
}

.rules-of-game {
    padding: 20px;
    font-size: 1.3em;
}

/* конец */

/* footer */

.footer-block {
    position: fixed;
    bottom: 7px;
    width: 100%;
}

/* конец */